/*400 regular
600 semi bold
800 bold*/
*{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.basicBtn{
   background-color:#066EB4 !important;
   font-size: 1.0rem;
   padding-left: 3vw;
   padding-right: 3vw;
   padding-top: 0.5vw;
   padding-bottom: 0.5vw;
   border-radius: 14px;
   font-weight: 600;

}
.rcorner{
    border-radius: 15px;
    border:  white solid ;
    background-color: white;
    margin-top: 5vh;
}

body{
    background-color: transparent;
}
html, body {
  max-width: 100%;
  overflow-x: hidden;
}
html { 
  background: url("../images/PARA ENVIO CRIATIVIDADES/PARA ENVIO CRIATIVIDADES/Fundo.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.form-control-sm{
    font-size: 0.5rem;
}

label{
    font-size: 75% ;
}





  .form-control-sm{
    background-color: #D6E8F8 ;
    
  }

  input[type=radio] {
    border: 1px solid #D6E8F8(243, 9, 9);
    border-radius: 4px;
    background-color: #D6E8F8;
    padding: 0.5em;
    -webkit-appearance: none;


   
  }
  
  input[type=radio]:checked {
   background-color: #0A6FB6;
    background-size: 9px 9px;
  }
  
  input[type=radio]:focus {
    outline-color: transparent;
  }
  
  #checksUserType{
      margin: auto;
      font-size: 0.90rem;
  }
 

  /*RODA CENTRO */
.RodaAll{
    position: relative ;
    top: 0 ;
    left: 0;
    right: 0;
    bottom: 0;

    margin: auto;
  }

  #rodaCentro{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    display: block;
    margin: auto;
    z-index: 1;
    width: 50%;
  }

  img#seta {
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
    width: 15px;
    margin-top: -10px;


}


#prizebtn{
background-color: #175E9F;
-webkit-box-shadow: inset 0px 0px 11px 12px rgba(0,0,0,0.47); 
box-shadow: inset 0px 0px 11px 12px rgba(0,0,0,0.47);
border-radius:23px;
font-size: 1.5rem;
padding-left: 5vw;
padding-right: 5vw;
z-index: 30;
}
/*Logo abaixo*/
.lgDark{
  width: 5vw;
}

/**MEDIA FOR SMALLER **/
@media (max-width: 540px) { 
    .rcorner{
        border-radius: 15px;
        border:  white solid ;
        background-color: white;
        margin-left: 5vw;
        margin-right: 5vw;
        margin-top: 5vh;
    }

    .lgDark{
      width: 25vw;
    }
    
}

.form-group *{
    font-weight: 800;
}
.form-group label{
    font-weight: 600;
}

/**MODAL STUFF**/
#ModalTitle{
    font-family: 'Oxygen', sans-serif;
    color: #066EB4;
    text-transform: uppercase;
    font-size: 3.0rem;
}

.modal-body p{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.0rem;
    color:#066EB4;
}

.img-responsive {
    margin-left: auto;
    margin-right: auto;
    width: 20vw;
}

.toast{
  position: fixed;
  top: 0;
  left:0;
  right: 0;

  margin-top:25vh;
  margin-right: 125vw;
  margin: auto;
}



/*Jut for chorm*/

.Alternative-Autofill-act:-webkit-autofill,
.Alternative-Autofill-act:-webkit-autofill:hover, 
.Alternative-Autofill-act:-webkit-autofill:focus
 {

  -webkit-text-fill-color: #000;
  -webkit-box-shadow: 0 0 0px 1000px #D6E8F8 inset;
  transition: background-color 5000s ease-in-out 0s;
}

.Alternative-Autofill-De-act:-webkit-autofill,
.Alternative-Autofill-De-act:-webkit-autofill:hover, 
.Alternative-Autofill-De-act:-webkit-autofill:focus
 {

  -webkit-text-fill-color: #000;
  -webkit-box-shadow: 0 0 0px 1000px #e9ecef inset;
  transition: background-color 5000s ease-in-out 0s;
}


.full-width-image {
  width: 100vw;
  position: relative;
  left: 50%;  
  margin-left: -50vw;
}

.full-width-image img {
  width: 100%;
  height: 8vw;
  object-fit: cover;
}

#TopBanner{
  top:0;
  vertical-align: super;
}

footer{
  background-color: white;
  opacity: 95%;
}

.noPadLR{
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.text-muted{
  color: #18316B !important;
}
.bbaner{
  margin-top: 5.5rem;
  bottom: 0;
}

