/*400 regular
600 semi bold
800 bold*/
*{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.rcorner{
    border-radius: 15px;
    border:  white solid ;
    background-color: white;
}

body{
    background-color: teal;
}

.form-control-sm{
    font-size: 0.5rem;
}

label{
    font-size: 75% ;
}

@media (max-width: 576px) { 
    .rcorner{
        border-radius: 15px;
        border:  white solid ;
        background-color: white;
        margin-left: 5vw;
        margin-right: 5vw;
    }
}