/*400 regular
600 semi bold
800 bold*/
*{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.rcorner{
    border-radius: 15px;
    border:  white solid ;
    background-color: white;
    margin-top: 15vh;
}

body{
    background-color: teal;
}

.form-control-sm{
    font-size: 0.5rem;
}

label{
    font-size: 75% ;
}

@media (max-width: 576px) { 
    .rcorner{
        border-radius: 15px;
        border:  white solid ;
        background-color: white;
        margin-left: 5vw;
        margin-right: 5vw;
        margin-top: 5vh;
    }
}



img#seta {
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
    width: 15px;
    margin-top: -10px;


}
#roda{
    transform: rotate(10deg);
}

#prizebtn{
background-color: #175E9F;
-webkit-box-shadow: inset 0px 0px 11px 12px rgba(0,0,0,0.47); 
box-shadow: inset 0px 0px 11px 12px rgba(0,0,0,0.47);
border-radius:23px;
font-size: 1.5rem;
padding-left: 5vw;
padding-right: 5vw ;
}

.bg:before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url("../images/Background.png") no-repeat center center /cover;
    content: '';
    z-index: -1;
  }

  .bg2{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #BDCDDD;
    opacity: 70%;
    content: '';
    z-index: -1;
  }

  #rodaCentro{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    display: block;
    margin: auto;
    z-index: 1;
    width: 50%;
  }